<template>
  <div id="app">
    <Channelcost/>
  </div>
</template>

<script>
import Channelcost from './components/channelcost'
export default {
  name: 'App',
  components: {
    Channelcost
  }
}
</script>

<style>

</style>
